<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>お知らせ</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="shop">
      <div class="tab-button-content">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>店舗</ion-label>
      </div>
    </ion-tab-button>

    <!-- <ion-tab-button tab="menu">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>メニュー</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="reservation">
      <div class="tab-button-content">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>予約</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="card" class="home-button">
      <div class="tab-button-content">
        <ion-icon name="home"></ion-icon>
        <ion-label>ホーム</ion-label>
      </div>
    </ion-tab-button>


    <ion-tab-button tab="question">
      <div class="tab-button-content">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label style="text-wrap: nowrap;white-space: nowrap;">アンケート</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="others">
      <div class="tab-button-content">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>その他</ion-label>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>