<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>お知らせ</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>メニュー</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon name="map"></ion-icon>
      <ion-label>ホーム</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>店舗</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="others">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>その他</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
