<ion-header>
  <ion-toolbar>
    <ion-title>その他</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="toNextPage('member-info')" class="others-item">
      会員情報
    </ion-item>
    <!-- <ion-item button (click)="toMenu()" class="others-item">
      メニュー&nbsp;
      <ion-icon size="small" name="open-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="toShop()" class="others-item">
      店舗&nbsp;
      <ion-icon size="small" name="open-outline"></ion-icon>
    </ion-item> -->
    <ion-item button (click)="toContact()" class="others-item">
      お問い合わせ&nbsp;
      <ion-icon size="small" name="open-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="toKiyaku()" class="others-item">
      利用規約&nbsp;
      <ion-icon size="small" name="open-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="toPrivacyPolicy()" class="others-item">
      プライバシーポリシー&nbsp;
      <ion-icon size="small" name="open-outline"></ion-icon>
    </ion-item>
    <ion-item button (click)="toNextPage('licenses')" class="others-item">
      オープンソースライセンス
    </ion-item>
    <ion-item style="text-align: left;" class="others-item">
      <ion-label>バージョン情報</ion-label>
      <!-- <ion-label class="subscript">1.0.1</ion-label> -->
      <ion-label class="subscript">{{ versionNumber }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
