<ion-header>
  <ion-toolbar>
    <ion-title>アンケート</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="spinner-question" class="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <iframe id="question-iframe" name="question-iframe" class="iframe-style" src="https://docs.google.com/forms/d/e/1FAIpQLSfjHwN8LNbyoCayNdJPp3Lo3SS5WwzYUaR3gp8gpUG7Wat2sQ/viewform" width="375" height="812" frameborder="0" marginheight="0" marginwidth="0" onload="document.getElementById('spinner-question').style.display='none';">読み込んでいます
  </iframe>
</ion-content>
