.coupon_button {
  background-color: #00af56;
  padding: 5%;
  margin-inline: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  border-radius: 8px;
  width: -webkit-fill-available;
  font-size: 1.5rem;
  border-radius: 9999px;
  color: white;
  text-wrap: nowrap;
}


@media screen and (max-width: 365px) {
  .coupon_button {
    font-size: 1rem;
    color: white;
  }
}

.pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    background-color: #00af56;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    background-color: #007237;
  }
}